body{
    font-family:'Times New Roman', Times, serif !important;
    width:100%;
    overflow-x:hidden;
    margin-left:auto;
    margin-right:auto;
}
.page1 img{
    width:100%;
    height:max-content;
}
.oneText{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    color:white;
}
.welcome h1{
    padding:20px;
    font-size:xxx-large;
}
.welcome h5{
    padding-top:10px;
}
.mouseBody{
    display:flex;
    justify-content: center;
}
.mouseIcon img{
    position: relative;
    width:fit-content;
    height:fit-content;
    transform:translate(0%, -200%);
}
.aboutUs{
    /* border:2px solid gold; */
    padding:40px;
    text-align:center;

}
.aboutHeader{
    /* border:2px solid blue; */
    font-size:larger;
}
.aboutTitle{
    font-size:xx-large;
}
.page3{

}
.threeBody{
    position:absolute;
    text-align:center;
    /* border:2px solid green; */
    width:100%;
    transform:translate(0%, -180%);
    color:white;
    font-size:x-large;
    display:flex;
    justify-content: center;
}
.threeText{
    max-width:100%;
}
.page4{
    position:relative;
    /* border:2px solid yellow; */
}
.wwdText{
    text-align:center;
}
.wwdPics{
    display:flex;
    justify-content:space-around;
    padding-bottom:40px;
}
.wwdText h1{
    padding-top:30px;
    padding-bottom:50px;
}
.designB{
    display:none;
    /* background-color:green; */
}
.designA h1{
    display:none;
}
.devB{
    display:none;
}
.prodB{
    display:none;
    /* border:2px solid blue; */
    width:100%;
    justify-content: space-between;
}
.design,.development, .productMan{
    display:flex;
    justify-content: space-around;
    padding:10px;
    width:33%;
    text-align:center;
    font-weight:bolder;
}
.page5{
    /* border:2px solid yellow; */
}
.portfolioHeader{
    text-align:center;
    padding:20px;
}
.portPics{
    position:relative;
}
.picsA{
    position:relative;
    width:100%;
    display:flex;
    justify-content: center;
    /* padding:20px; */
}
.a1, .a2, .a3, .a4{
    padding:20px;
}
.picsB{
    display:flex;
    justify-content: center;
}
.b1, .b2, .b3, .b4{
    padding:20px;
}
.sixBody{
    display:flex;
    justify-content: center;
}
.sixText{
    position:absolute;
    display:flex;
    flex-direction: column;
    transform:translate(0%, -150%);
}
.contactUs img{
    width:100%;
    padding-top:40px;
}
.contactHeader{
    text-align:center;
}
.feedback{
    margin-left:auto;
    margin-right:auto;
}
.nameEmail{
    display:flex;
    justify-content: center;
}
.message{
    display:flex;
    justify-content: center;
    /* border:2px solid green; */
}
.name, .email, .message{
    padding:20px;
}
.socialogos{
    display:flex;
    justify-content:center;
    padding-top:40px;
}
.socialText{
    text-align:center;
    padding:40px;
    font-size:larger;
}
.socialogos>div{
    padding:20px;
}
/* .a1{
    display:flex;
    justify-content:center;
} */
.a1>img, .a2>img, .a3>img,.a4>img,.b1>img, .b2>img, .b3>img,.b4>img{
    position:relative;
    display:block;
}
.a1,.a2, .a3, .a4, .b1, .b2, .b3, .b4{
    position:relative;
}
.a1p, .a1p2, .a1p3, .a1p4, .a1p5, .a1p6, .a1p7, .a1p8{
    opacity:0;
    position:absolute;
    width:80%;
    height:80%;
    border:2px solid white;
    background:rgba(149, 149, 149, 0.3);
    top: 42%;
    left: 50%;
    transform: translate(-50%, -40%);
    color:white;
    font-size:xx-large;
    font-style: italic;
}
.a1p:hover, .a1p2:hover, .a1p3:hover, .a1p4:hover, .a1p5:hover, .a1p6:hover,.a1p7:hover,.a1p8:hover{
    opacity:1;
    cursor:pointer;
}
.submitBtn{
    display:flex;
    justify-content: center;
}

.socialogos > div > img:hover{
    cursor:pointer;
    transform:scale(1.5);
}
